node_modules
npm-debug.log
.git
.gitignore
.env.local
.env.*.local
__pycache__
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
*.egg-info/
dist/
build/
.DS_Store
*.log
.venv
.idea
.vscode
*.swp
*.swo
*~
.pytest_cache
.coverage
htmlcov/
.mypy_cache/
.dmypy.json
dmypy.json
.next
.nuxt
.cache
.vuepress/dist
.serverless/
.fusebox/
.dynamodb/
.tern-port
image_produits/
others.db
.git/
